Non-Compliance with RFC 4122

The GUIDs generated by FastGuid.NewGuid() do not comply with [RFC 4122, Section 4.4](https://www.rfc-editor.org/rfc/rfc4122#section-4.4). Specifically:

- The 7th byte is not properly set to indicate the version. For a Version 4 GUID, the 4 most significant bits of the 7th byte must be 0100.
- The 9th byte does not correctly encode the variant. The 2 most significant bits must be set to 10 to indicate an RFC 4122-compliant GUID.

This results in GUIDs that do not conform to the standard, which could cause interoperability issues in systems that rely on RFC-compliant GUIDs.

> The GUIDs generated by FastGuid.NewGuid() do not comply with [RFC 4122, Section 4.4](https://www.rfc-editor.org/rfc/rfc4122#section-4.4).

[RFC-9562](https://www.rfc-editor.org/rfc/rfc9562) (which obsoletes 4122) compliance was never a goal. In fact the avoidance of RFC-9562 is a feature, not a limitation. Wasting 6 bits of cryptographic strength to superfluous "Version" and "Variant" flags never made sense. Ironically, the RFC has a guidance on [opacity](https://www.rfc-editor.org/rfc/rfc9562#name-opacity), which states:

> As general guidance, avoiding parsing UUID values unnecessarily is recommended; instead, treat UUIDs as opaquely as possible. Although application-specific concerns could, of course, require some degree of introspection (e.g., to examine Sections [4.1 Variant](https://www.rfc-editor.org/rfc/rfc9562#variant_field) or [4.2 Version](https://www.rfc-editor.org/rfc/rfc9562#version_field) or perhaps the timestamp of a UUID), the advice here is to avoid this or other parsing unless absolutely necessary. Applications typically tend to be simpler, be more interoperable, and perform better when this advice is followed.

In my experience I've never seen systems that genuinely depended on the Version and/or Variant of the guids within them. However, for any such systems it's quite easy (and fast) to set the Version to `4` or to `8` (indicating a "custom format"). Replacing the entropy, on the other hand, is not as easy or fast.

I see. I wasn't aware of RFC-9562. I just thought things should comply with the RFC. I was asking myself why the presence of version and variant which reduces the number of possible combinations.